.testimonial-content h2 {
  font-weight: 600;
  color: var(--primary);
  /* font-size: "Raleway-black"; */
}

.Testimonials {
  /* background-color: var(--light-gray); */
  height: 600px;
  background-color: hsl(160, 75%, 98%);
}

.user-image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px dashed var(--primary);
  margin: 5px auto;
}

.user-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.student__info h6 {
  font-size: 1.25rem;
}